#professionnels i,
#professionnels svg {
    font-size: 30px;
    color: $secondary-color;
}

#professionnels span {
    color: $secondary-color;
}

#professionnels .bg-prof {
    background-color: #F4F4F4;
}